#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#----------------------------------------------------------------------------

# Mac finder artifacts
.DS_Store

/node_modules/
/bower_components/

# Ignore all log_files and temp_files.
/log/*
tmp/*
/log/*.log
/tmp/sessions/*
/tmp/cache/*
/tmp/

# Ignore webpack bundles
/public/js/bundle.js.map
/public/js/bundle.js

# Ignore uploaded files
uploads

# environment
.env
