#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#----------------------------------------------------------------------------

#local code tests
tt.js
ttt.js

# Mac finder artifacts
.DS_Store

# DB dumps
/backup
dump.sh

/node_modules/
/bower_components/

# Nodemon config
nodemon.json

# Ignore all log_files and temp_files.
/log/*
tmp/*
/log/*.log
/tmp/sessions/*
/tmp/cache/*
/tmp/

# Ignore webpack bundles
/public/build/*


# Ignore uploaded files
uploads

# environment
.env

*.log

*.map

public/js/index.bundle.js

public/js/login.bundle.js

.idea/misc.xml

*.xml

*.iml

.foreverignore

*.sh
.idea/
logs/
public/build/
