#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#----------------------------------------------------------------------------

# Mac finder artifacts
.DS_Store

# Testing server code
test.js

/node_modules/
/bower_components/

# Ignore all log_files and temp_files.
/log/*
tmp/*
/log/*.log
/tmp/sessions/*
/tmp/cache/*
/tmp/

# Ignore webpack bundles
/public/build/*


# Ignore uploaded files
uploads

# environment
.env

*.log

*.map

public/js/index.bundle.js

public/js/login.bundle.js
