<!DOCTYPE html>
<html lang="ru">

    <head>

        <meta charset="UTF-8" />
        <title>Eye-of-Providence</title>

        <link rel="stylesheet" href="foundation/css/foundation.min.css">

    </head>

    <body>

        <div id="content"></div>

        <script   src="react/react.min.js"></script>
        <script   src="react/react-dom.min.js"></script>
        <script   src="babel/browser.min.js"></script>
        <script   src="mousetrap/mousetrap.min.js"></script>

        <script type="text/babel" src="js/app.js"></script>

    </body>

</html>
