<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Eye of Providence</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <div id="content" style="width:1000px; margin: 0 auto;"></div>

    <script src="js/bundle.js"></script>
	<footer class="footer">
		<div class="footer__content container-fluid">
			<div class="row">
				<div class="col-md-2">
					<img src="/img/logo.png" alt="Soshace" class="img-responsive">
				</div>
			</div>
		</div>
    </footer>
</body>
</html>
