<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Eye of Providence</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/flexboxgrid.min.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/helpers.css">
</head>

<body>
    <div id="content"></div>
    <script src="http://localhost:8080/index.bundle.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
