<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Eye of Providence</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/flexboxgrid.mincss">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/helpers.css">
</head>

<body>
    <div id="content"></div>
    <script src="/build/login.bundle.js"></script>
</body>

</html>
