/* forms */

/* /forms */

h2 {
    font-size: 40px;
    font-weight: normal;
}

.heading {
    font-weight: normal;
    font-size: 1.8rem;
}

/* buttons */
.btn {
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn_white {
    background-color: #FFFFFF;
    color: #4A77DA;
}

.btn_blue {
    background-color: #4A77DA;
    color: #FFFFFF;
}

.btn_blue:disabled {
    background-color: #919191;
    cursor: not-allowed;
}

.btn_blue:active {
    background-color: #2F5BBA;
}

.btn_lg {
    padding: 0 25px;
    font-size: 0.9rem;
}

.link_white {
    color: #FFFFFF;
    text-decoration: none;
}

.link_white:hover {
    text-decoration: underline;
}

.btn_trans-blue {
    background-color: #FFFFFF;
    border: 1px solid #4A77DA;
    color: #4A77DA;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 15px;
}
/* /buttons */

/* inputs */
.input {
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid #B7CBF0;
    color: #FFFFFF;
    width: 100%;
    outline:0;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 6px;
    transition: border .2s ease-in-out;
}



.input::-webkit-input-placeholder {color:#B7CBF0;}
.input::-moz-placeholder          {color:#B7CBF0;}
.input:-moz-placeholder           {color:#B7CBF0;}
.input:-ms-input-placeholder      {color:#B7CBF0;}

.input:focus {
    border-bottom: 2px solid #FFFFFF;
}

.input__black {
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
}

.input__black:focus {
    border-bottom: 2px solid #000000;
}

.input__black::-webkit-input-placeholder {color:#919191;}
.input__black::-moz-placeholder          {color:#919191;}
.input__black:-moz-placeholder           {color:#919191;}
.input__black:-ms-input-placeholder      {color:#919191;}

.input__grey {
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}

.input__grey:focus {
    border-bottom: 2px solid #000000;
    color: #000000;
}

.input__grey::-webkit-input-placeholder {color:#919191;}
.input__grey::-moz-placeholder          {color:#919191;}
.input__grey:-moz-placeholder           {color:#919191;}
.input__grey:-ms-input-placeholder      {color:#919191;}

.input_error {
    border-bottom-color: #FFC7C7;
}

.input_error:focus {
    border-bottom-color: #FFC7C7;
}

.error {
    color: #FFC7C7;
    font-weight: lighter;
    font-size: 0.7rem;
}

.blue-active-logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4A77DA;
}

/* images */


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}
/* sm */

@media only screen and (min-width: 48em) {
    .btn_lg {
        padding: 0 25px;
        font-size: 1.2rem;
    }

    .heading {
        font-size: 2.4rem;
    }
}

/* md */
@media only screen and (min-width: 62em) {
    .btn_lg {
        padding: 0 30px;
        font-size: 25px;
        line-height: 50px;
        border-radius: 25px;
    }
    .heading {
        font-size: 2.8rem;
    }
}