/* forms */

/* /forms */

h2 {
    font-size: 40px;
    font-weight: normal;
}

.heading {
    font-weight: normal;
    font-size: 40px;
}

.heading__white {
    color: #ffffff;
}

/* buttons */
.btn {
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn__white {
    background-color: #FFFFFF;
    color: #4A77DA;
}

.btn__blue {
    background-color: #4A77DA;
    color: #FFFFFF;
    transition: all .1s ease-in-out;
}

.btn__blue:disabled {
    background-color: #919191;
    cursor: not-allowed;
}

.btn__blue:active {
    background-color: #2F5BBA;
}

.btn__blue:hover {
    background-color: #2F5BBA;
}

.btn__lg {
    padding: 0 25px;
    font-size: 25px;
    line-height: 50px;
    border-radius: 25px;
}

.link__white {
    color: #FFFFFF;
    text-decoration: none;
}

.link__white:hover {
    text-decoration: underline;
}

.btn__trans-blue {
    background-color: #FFFFFF;
    border: 1px solid #4A77DA;
    color: #4A77DA;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 15px;
}
/* /buttons */

/* inputs */

.form-group {
    height: 50px;
    position: relative;
}

.form-group input {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-group label {
    font-size: 16px;
    color: #919191;
    font-weight: 300;
    position: absolute;
    top: 25px;
    left: 0;
    transition: all .1s ease-in-out;
}

.form-group__focus label {
    font-size: 13px;
    top: 0;
}

.input {
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid #B7CBF0;
    color: #FFFFFF;
    width: 100%;
    outline:0;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 6px;
    transition: border .2s ease-in-out;
}



.input::-webkit-input-placeholder {color:#B7CBF0;}
.input::-moz-placeholder          {color:#B7CBF0;}
.input:-moz-placeholder           {color:#B7CBF0;}
.input:-ms-input-placeholder      {color:#B7CBF0;}

.input:focus {
    border-bottom: 2px solid #FFFFFF;
}

.input__black {
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
}

.input__black:focus {
    border-bottom: 2px solid #000000;
}

.input__black::-webkit-input-placeholder {color:#919191;}
.input__black::-moz-placeholder          {color:#919191;}
.input__black:-moz-placeholder           {color:#919191;}
.input__black:-ms-input-placeholder      {color:#919191;}

.input__grey {
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}

.input__grey:focus {
    border-bottom: 2px solid #000000;
    color: #000000;
}

.input__grey::-webkit-input-placeholder {color:#919191;}
.input__grey::-moz-placeholder          {color:#919191;}
.input__grey:-moz-placeholder           {color:#919191;}
.input__grey:-ms-input-placeholder      {color:#919191;}

.input_error {
    border-bottom-color: #FFC7C7;
}

.input_error:focus {
    border-bottom-color: #FFC7C7;
}

.input__light-grey {
    border-bottom-color: #919191;
}

.input__light-grey:focus {
    border-bottom-color: #FFFFFF;
}

.error {
    color: #FFC7C7;
    font-weight: lighter;
    font-size: 0.7rem;
}

.blue-active-logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4A77DA;
}

/* images */


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

/* /images */


/* helper icons */

.icon-saving-success {
    background-position: left center;
    background-image: url("/img/icon-saving-success.svg");
    background-repeat: no-repeat;
    padding-left: 52px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
}

.saving-start {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: #95989A;
}

/* /helper icons */


/*---------------------------------------- modals --------------------------------------*/

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal_row {
    min-height: 100vh;
}
/*---------------------------------------- /modals --------------------------------------*/
