/*---------------------------------------- headings --------------------------------------*/


h2 {
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-size: 25px;
    font-weight: 400;
}

a {
    color: #4A77DA;
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.heading {
    font-weight: normal;
    font-size: 40px;
}

.heading__white {
    color: #ffffff;
}

/*---------------------------------------- /headings --------------------------------------*/



/*---------------------------------------- buttons --------------------------------------*/

.btn {
    border: 0;
    box-shadow: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn__lg {
    padding: 0 25px;
    font-size: 25px;
    line-height: 50px;
    border-radius: 25px;
    font-weight: 600;
}

.btn__md {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    border-radius: 20px;
    padding: 0 20px;
}

.btn__white {
    background-color: #FFFFFF;
    color: #4A77DA;
}

.btn__blue {
    background-color: #4A77DA;
    color: #FFFFFF;
    transition: all .1s ease-in-out;
}


.btn__blue:active {
    background-color: #2F5BBA;
}

.btn__blue:hover {
    background-color: #2F5BBA;
}

.btn__blue:disabled {
    background-color: #919191;
    cursor: not-allowed;
}

.link__white {
    color: #FFFFFF;
    text-decoration: none;
}

.btn__trans-blue {
    background-color: #FFFFFF;
    border: 1px solid #4A77DA;
    color: #4A77DA;
    transition: all .1s ease-in-out;
}

.btn__trans-blue:hover {
    background-color: #4A77DA;
    color: #FFFFFF;
}

.btn__trans-blue:active {
    background-color: #2F5BBA;
    color: #FFFFFF;
}

.btn__trans-blue.btn__disabled, .btn__trans-blue:disabled {
    border-color: #919191;
    color: #919191;
    background-color: #FFFFFF;
    cursor: not-allowed;
}
.btn__trans-white {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn__icon {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat !important;
    background-position: center center;
    margin-right: 15px;
}

.btn__icon:last-child {
    margin-right: 0;
}

.btn__edit {
    background: url('/img/icon-editing.svg');
}

.btn__delete {
    background: url('/img/icon-delete.svg');
}

.link__white:hover {
    text-decoration: underline;
}

/*---------------------------------------- /buttons --------------------------------------*/



/*---------------------------------------- inputs --------------------------------------*/

.input-group {
    height: 60px;
    position: relative;
}

.input-group input {
    background: transparent;
    position: absolute;
    bottom: 15px;
    left: 0;
    border: 0;
    width: 100%;
    outline:0;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4px;
    transition: all .2s ease-in-out;
}

.input-group input:focus {
    border-bottom: 2px solid #FFFFFF;
}

.input-group label {
    font-size: 16px;
    color: #919191;
    font-weight: 300;
    position: absolute;
    top: 14px;
    left: 0;
    transition: all .1s ease-in-out;
}

.input-group__focus label {
    font-size: 13px;
    top: 0;
}

.input-group__light-blue input{
    border-bottom: 2px solid #B7CBF0;
    color: #FFFFFF;
}

.input-group__light-blue label{
    color: #B7CBF0;
}

.input-group__black input{
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
}

.input-group__black input:focus {
    border-bottom: 2px solid #000000;
}


.input-group__grey input {
    border-bottom: 2px solid #DBDBDB;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}

.input-group__grey input:focus {
    border-bottom: 2px solid #000000;
}

.input-group__light-grey input {
    border-bottom: 2px solid #919191;
}

.input-group__light-grey input:focus {
    border-bottom-color: #FFFFFF;
}

.input-group__error input {
    border-bottom: 2px solid #FFC7C7;
    color: #FFC7C7;
}

.error {
    color: #FFC7C7;
    font-weight: lighter;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*---------------------------------------- /inputs --------------------------------------*/



.blue-active-logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4A77DA;
}

/* images */


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

/* /images */


/* helper icons */

.icon-saving-success {
    background-position: left center;
    background-image: url("/img/icon-saving-success.svg");
    background-repeat: no-repeat;
    padding-left: 52px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
}

.saving-start {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: #95989A;
}

/* /helper icons */


/*---------------------------------------- modals --------------------------------------*/

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal_close {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('/img/icon-close.svg');
    background-repeat: no-repeat;
    position: fixed;
    top: 55px;
    right: 75px;
    cursor: pointer;
}

.modal_row {
    min-height: 100vh;
}

/*---------------------------------------- /modals --------------------------------------*/



/*---------------------------------------- form-data --------------------------------------*/

.form-data__name {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: #919191;
}

.form-data__value {
    display: block;
    font-size: 16px;
    color: #000000;
    margin-top: 12px;
}

/*---------------------------------------- /form-data --------------------------------------*/



/*---------------------------------------- profile-photo --------------------------------------*/

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    text-align: center;
    width: 160px;
    height: 160px;
    transition: border 0.2s ease-in-out;
}