.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.hide-xs {
    display:none;
}

.vertical-center {
    align-items: center;
}
/* sm */
@media only screen and (min-width: 48em) {
    .hide-xs {
        display:block;
    }

    .hide-sm {
        display: none;
    }
}

/* md */
@media only screen and (min-width: 62em) {
    .hide-xs {
        display:block;
    }

    .hide-sm {
        display: block;
    }

    .hide-md {
        display: none;
    }
}

/* lg */

@media only screen and (min-width: 75em) {
    .hide-xs {
        display:block;
    }

    .hide-sm {
        display: block;
    }

    .hide-md {
        display: block;
    }

    .hide-lg {
        display: none;
    }
}