/* main page */
* {
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/bg-promo-md.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/* top */

.top {
    color: #fff;
    padding-top:2.5rem;
}

.logo {
    font-size: 25px;
}

.signin {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}
/* center */

.center {
    flex-direction: column;
    align-items: center;
}

.promo-heading_wrapper {
    transition: all .2s ease-in;
}

.promo__heading {
    margin-bottom: 50px;
    font-size: 50px;
    color: #FFFFFF;
}

.team-create {
    background-color: rgba(74, 119, 218, 0.95);
    max-width: 960px;
    padding: 45px 0;
}

.team-create__create {
    margin-top: 30px;
}

.promo-footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.right-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 480px;
    background-color: rgba(74, 119, 218, 0.85);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in;
}

.right-panel___hidden {
    right: -480px;
}
.right-panel header {
    padding-top: 33px;
}

.right-panel footer {
    padding-bottom: 44px;
}

.right-panel_btn {
    margin-top: 50px;
}

.right-panel_login {
    margin-top: 110px;
}

.right-panel_login p {
    font-size: 16px;
    color: #FFFFFF;
}

.right-panel_login a {
    color: #FFFFFF;
    font-weight: 400;
}

/* steps layout */

.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.steps-counter {
    color: #95989A;
    font-weight: lighter;
}

.steps-container__header {
    padding: 50px 15px 0 15px;
}

.steps-container__section {
    padding: 0 15px;
}

.steps-container__footer {
    padding: 20px 0 40px 0;
}

.invintations_row {
    margin-bottom: 20px;
}

.step__message {
    margin-bottom: 40px;
    font-weight: lighter;
    color: #95989A;
    line-height: 1.5rem;
}

.step__message b {
    color: #000000;
}

.step__code {
    margin-bottom: 50px;
}

.step1__confirmation-input {
    font-size: 2rem;
    max-width: 80px;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    border-bottom: 2px solid #DBDBDB;
    transition: all .2s ease;
}

.step1__confirmation-input:focus {
    border-bottom: 2px solid black;
}