/* main page */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/bg-promo-md.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/* top */

.top {
    color: #fff;
    padding-top:1rem;
}

/* center */

.center {
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.heading h1 {
    font-weight: 400;
}

.team-create {
    background-color: rgba(74, 119, 218, 0.95);
    max-width: 960px;
    padding: 45px 0;
}

.team-create__create {
    margin-top: 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

/* sm */

@media only screen and (min-width: 48em) {
    .team-create__create {
        marin-top: 0;
    }
    .heading {
        font-size: 1.5rem;
    }
}

/* md */
@media only screen and (min-width: 62em) {

}

/* lg */
@media only screen and (min-width: 75em) {

}