body {
    font-family: 'Montserrat', sans-serif;
}

/* index */

.pull-right {
    float: right;
}

.index-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container__flex1 {
    flex: 1;
}

.container__fixed {
    width: 1120px;
}

.system-alert-notification{
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid red;
  background-color: pink;
  color: red;
  padding: 5px;
  z-index: 9999;
}

/* .container-fluid { */
    /* width: 100%; */
/* } */
/* /index */

/* top-panel */

.top-panel {
    border-bottom: 1px solid #DBDBDB;
    padding: 5px 10px;
    height: 40px;
}

.top-panel_container {
    height: 100%;
}

.top-panel_row {
    align-items: center;
    height: 100%;
}

.top-panel_logo {
    color: #4A77DA;
    font-size: 25px;
    text-decoration: none;
    font-weight: 400;
}

.top-panel_menu {
    display:table-cell;
    vertical-align:middle;
    height: 40px;
}

.top-panel_manager-menu ul,
.top-panel_menu ul{
    padding: 0;
    margin: 0;
}

.top-panel_manager-menu li,
.top-panel_menu li {
    display: inline-block;
    padding: 5px 20px;
}

.top-panel_user-icon,
.top-panel_notifications-icon,
.top-panel_manager-menu-icon,
.top-panel_manager-menu-close {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
}

.top-panel_notifications-icon {
    font-size: 30px;
    color: #4A77DA;
}

.top-panel_user-icon .dropdown,
.top-panel_notifications-icon .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #DBDBDB;
    padding: 5px;
    width: 200px;
    z-index: 2;
    font-size: initial;
}

.top-panel_notifications-icon .dropdown-element a {
    text-decoration: underline;
}

.top-panel_notifications-icon .dropdown-element a:hover  {
    text-decoration: none;
}

.top-panel_menu-item:hover,
.top-panel_menu-item.active {
    text-decoration: underline;
}

.dropdown-element {
    margin: 3px 5px 10px;
}

.new-notifications-circle {
    background: orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid white;
}

.new-notification-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.new .new-notification-circle {
    background: orange;
}

.top-panel_manager-menu{
    margin: 5px auto;
    text-align: center;
}

.top-panel_manager-menu ul{
    display: inline-block;
}

.top-panel_manager-menu-icon{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 35px;
    color: #4A77DA;
    border: 2px solid #4A77DA;
    border-radius: 5px;
    line-height: 16px;
    padding: 4px;
}

.top-panel_manager-menu-close{
    color: #4A77DA;
}

/* /top-panel */

/* footer */

.footer {
    height: 80px;
    background-color: #F7F7F7;
}

.footer_container {
    height: 100%;
}

.footer_row {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer_logo {
    height: 35px;
}

.footer_copyright {
    color: #95989A;
    font-weight: lighter;
    font-size: 16px;
}
/* /footer */

/* user-table */

.user-table_header {
    align-items: center;
    padding-top: 35px;
}

.users-list_heading {
    padding: 20px 15px 20px 15px;
    border-top: 1px solid #DBDBDB;
}

.user-list_title {
    font-weight: normal;
    color: #919191;
    font-size: 18px;
    text-align: left;
}

.users-list_row {
    padding: 15px;
}

.users-list_row:nth-child(2n+1) {
    background-color: #F7F9FC;
}

.users-list_photo {
    max-width: 55px;
}

.users-list_user-name {
    font-size: 18px;
    color: #4A77DA;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
}

.users-list_user-role {
    display: block;
    font-size: 14px;
    color: #919191;
}

.users-list_position {
    font-weight: 300;
    font-size: 16px;
}

.users-list_joinedon {
    font-weight: 300;
    font-size: 16px;
}

.users-list_edit {
    cursor: pointer;
    margin-left: 24px;
}
/* / user-table */


/* user edit */
.profile {
    padding-top: 65px;
    justify-content: space-between;
}

.prodile_inputs {
    max-width: 800px;
}

.profile_photo_container {
  text-align: center;
}
.profile_dropzone {
    display: flex;
    /*display: inline-block;*/
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    text-align: center;
    width: 240px;
    height: 240px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.profile_login {
    margin: 0px;
    padding: 5px;
    text-transform: capitalize;
}

.profile_photo {
    padding-top: 15px;
}
.profile_dropzone:hover {
    border: 1px solid #4A77DA;
}

.profile_dropzone__view {
    cursor: default;
}

.profile_dropzone__view:hover {
    border: 1px solid #DBDBDB;
}

.profile_section {
    background-color: #F7F9FC;
    padding-left: 32px;
    margin: 25px 0 42px 0;
}

.profile_section .profile_heading .glyphicons {
    color: #4A77DA;
    margin: 0 20px;
    cursor: pointer;
    font-size: 18px;
}

.profile_heading {
    font-weight: normal;
    font-size: 25px;
    text-transform: capitalize;
    margin: 15px 0;
}

.profile_inputs-row {
    margin-bottom: 30px;
    justify-content: space-between;
}

.profile_inputs-row .col-md-6 {
    max-width: 374px;
}

.profile_inputs-row .label {
    font-size: 13px;
    color: #919191;
    margin-bottom: 10px;
}
/* /user edit */



/*---------------------------------------- linkService --------------------------------------*/

.linkService_logo {
    height: 60px;
}

.linkService_row {
    margin-bottom: 15px;
}

.linkService_btn {
    margin-top: 0px;
}

/*---------------------------------------- /linkService --------------------------------------*/



/*---------------------------------------- tracking-form --------------------------------------*/

.tracking-form {
    background-color: #4A77DA;
    padding: 60px 0;
}

.tracking-form_heading {
    max-width: 540px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tracking-form_or {
    color: #B7CBF0;
    font-size: 25px;
}

.tracking-form_row {
    justify-content: space-between;
}

.tracking-form_description {
    max-width: 750px;
    padding: 0;
}

.tracking-form_date {
    padding: 0;
    max-width: 108px;
}

.tracking-form_duration {
    padding: 0;
    max-width: 77px;
}

.tracking-form_add {
    text-align: right;
    max-width: 119px;
    padding: 0;
}

.tracking-day {
    margin-bottom: 60px;
}

.tracking-day:last-child {
    margin-bottom: 25px;
}

.tracking-day_row {
    padding: 0 20px;
}
.tracking-day_duration {
    color: #919191;
    font-size: 16px;
    margin-left: 15px;
    vertical-align: middle;
}

.tracking-table_head {
    margin-bottom: 10px;
    padding: 0 20px;
}

.tracking-table_heading {
    font-size: 18px;
    color: #919191;
}

.entry-row {
    padding: 5px 20px;
    font-weight: 300;
    min-height: 70px;
}

.entry-row:nth-child(2n + 1) {
    background-color: #F7F9FC;
}

.loadmore {
    margin-bottom: 120px;
}

/*---------------------------------------- /tracking-form --------------------------------------*/



/*---------------------------------------- notifications-page --------------------------------------*/

.notifications-table {
  border: 1px solid black;
}

.lines-per-page,
.pagination{
  display: inline-block;
  margin: 10px;
}

.notifications-item {
    line-height: 40px;
    cursor: pointer;
    vertical-align: middle;
}

.notifications-item:hover {
    background-color: #e6e6e6;
}

/*---------------------------------------- /notifications-page --------------------------------------*/



/*---------------------------------------- activity-page --------------------------------------*/

.activity-page__header {
    background-color: #4A77DA;
    padding: 60px 0;
}

.activity-page__choose {
    color: #FFFFFF;
    font-size: 20px;
}

/*---------------------------------------- /activity-page --------------------------------------*/



/*---------------------------------------- reports --------------------------------------*/

.reports-page {
    padding: 40px 0 40px 0;
}

.filter_heading {
    background-color: #F7F9FC;
    font-size: 25px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    margin: 15px 0;
    transition: all 0.2s ease 0s;
}
.heading_highlight {
  background-color: rgb(74,119, 218);
  color: white;
  transition: all 0.2s ease 0s;
}

.filter_row {
    padding: 15px 0;
}

.custom-periods {
    margin-top: 30px;
}

.custom-periods_period {
    display: block;
    color: #4A77DA;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

.custom-periods_period__active {
    font-weight: bold;
}

.reports_heading {
    margin-top: 0px;
}

.reports-table__heading {
    color: #919191;
}

.reports_duration {
    font-weight: 300;
    font-size: 16px;
    line-height: 44px;
}

/*---------------------------------------- /reports --------------------------------------*/



/*---------------------------------------- settings --------------------------------------*/

.settings-left-menu ul {
    list-style: none;
    padding-left: 0;
}

.settings-left-menu .settings-left-menu__item {
    cursor: pointer;
    display: block;
    padding: 4px 0;
    transition: all 0.2s ease-in;
}

.settings-left-menu .settings-left-menu__item:hover {
    color: #4A77DA;
}

.settings-left-menu .settings-left-menu__item_active {
    color: #4A77DA;
}

.settings-left-menu .settings-left-menu__item-add-new-company {
    display: inline-block;
    color: #fff;
    background: #4A77DA;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    border-radius: 20px;
    padding: 0 20px;
    margin: 6px 0;
    border: 1px solid #4A77DA;
}

.settings-left-menu .settings-left-menu__item-add-new-company:hover {
    background: transparent;
    color: #4A77DA;
}

.settings-add-new-company .form-group {
    margin-bottom: 15px;
}

.settings-add-new-company__form {
    width: 500px;
}

.settings-add-new-company .form-group label,
.settings-add-new-company .form-group input {
    display: inline-block;
    vertical-align: middle;
}

.settings-add-new-company .form-group label {
    margin-right: 30px;
    margin-bottom: 10px;
    width: 170px;
}

.settings-add-new-company .form-group input {
    width: 300px;
    box-sizing: border-box;
    padding: 8px;
}


.settings-add-new-company__company-name {

}

.settings-add-new-company__company-address {

}

.settings-add-new-company .settings-add-new-company__company-billing-information label {
    display: inline-block;
    margin-bottom: 10px;
}

.settings-add-new-company .settings-add-new-company__company-billing-information textarea {
    box-sizing: border-box;
    padding: 8px;
    display: block;
    width: 100%;
}

/*---------------------------------------- /settings --------------------------------------*/
